.footer {
  background: #232323;
  color: #cccccc;
  margin-top: 8rem;
  padding: 5rem 0;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      margin-bottom: 1rem;
    }

    a {
      text-decoration: none;
      color: #cccccc;
      margin-bottom: 10px;

      &:hover {
        color: #eeeeee;
      }
    }

    &:last-child {
      align-items: flex-end;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer {
    margin-top: 7rem;
    .row {
      display: block;
      text-align: center;

      .col:last-child {
        display: block;
        margin: 1rem 0;
      }
    }
  }
}
